// Your variable overrides
/*$body-bg: #303030;*/

////////////////////////////////////////////////////////////////////////////////

// Darkly 4.3.1
// Bootswatch

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #ebebeb !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #BBB !default;
$gray-600: #888 !default;
$gray-700: #444 !default;
$gray-800: #303030 !default;
$gray-900: #222 !default;
$gray-1000: #111 !default;
$black:    #000 !default;

$xemu-logo-green: #62ca13ff !default;

$blue:    #375a7f !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #E74C3C !default;
$orange:  #fd7e14 !default;
$yellow:  #F39C12 !default;
$green:   #00bc8c !default;
$teal:    #20c997 !default;
$cyan:    #3498DB !default;

$primary:       darken($xemu-logo-green, 5%) !default;
$secondary:     $gray-500 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-500 !default;
$dark:          $gray-1000 !default;

$yiq-contrasted-threshold:  175 !default;

// Body

$body-bg:                   $gray-900 !default;
$body-color:                $gray-400;

// Links

$link-color:                $white !default;
$link-hover-color:          #8dc103 !default;

// Fonts

$font-family-sans-serif:      "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-size-base:              0.9375rem !default;

$h1-font-size:                3rem !default;
$h2-font-size:                2.5rem !default;
$h3-font-size:                2rem !default;

$text-muted:                  $gray-500 !default;

// Tables

$table-accent-bg:             $gray-800 !default;

$table-border-color:          $gray-700 !default;

// Forms

$input-bg: $gray-900 !default;
$input-color: $body-color;
$input-placeholder-color: darken($input-color, 25%);
$input-focus-border-color: #42e335;
$input-border-color:                    $input-color !default;
$input-focus-color: $input-color;

$input-group-addon-color:               $gray-500 !default;
$input-group-addon-bg:                  $gray-700 !default;

$custom-file-color:                 $gray-500 !default;
$custom-file-border-color:          $body-bg !default;

// Dropdowns

$dropdown-bg:                       $gray-900 !default;
$dropdown-border-color:             $gray-700 !default;
$dropdown-divider-bg:               $gray-700 !default;

$dropdown-link-color:               $gray-400 !default;
$dropdown-link-hover-color:         $white !default;
$dropdown-link-hover-bg:            $gray-800 !default;

// Navs

$nav-link-padding-x:                2rem !default;
$nav-link-disabled-color:           $gray-500 !default;

$nav-tabs-border-color:             $gray-700 !default;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color $nav-tabs-border-color transparent !default;
$nav-tabs-link-active-color:        $white !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent !default;

// Navbar

/*$navbar-padding-y:                  1rem !default;*/

$navbar-dark-color:                $link-color !default;
$navbar-dark-hover-color:          $link-hover-color !default;

$navbar-light-color:                rgba($gray-900, .7) !default;
$navbar-light-hover-color:          $gray-900 !default;
$navbar-light-active-color:         $gray-900 !default;
$navbar-light-toggler-border-color: rgba($gray-900, .1) !default;

// Pagination

$pagination-color:                  $white !default;
$pagination-bg:                     $success !default;
$pagination-border-width:           0 !default;
$pagination-border-color:           transparent !default;

$pagination-hover-color:            $white !default;
$pagination-hover-bg:               lighten($success, 10%) !default;
$pagination-hover-border-color:     transparent !default;

$pagination-active-bg:              $pagination-hover-bg !default;
$pagination-active-border-color:    transparent !default;

$pagination-disabled-color:         $white !default;
$pagination-disabled-bg:            darken($success, 15%) !default;
$pagination-disabled-border-color:  transparent !default;

// Jumbotron

$jumbotron-bg:                      $gray-1000 !default;

// Cards

$card-cap-bg:                       $gray-700 !default;
$card-bg:                           $gray-800 !default;

// Popovers

$popover-bg:                        $gray-800 !default;

$popover-header-bg:                 $gray-700 !default;

// Toasts

$toast-background-color:            $gray-700 !default;

$toast-header-background-color:     $gray-800 !default;

// Modals

$modal-content-bg:                  $gray-800 !default;
$modal-content-border-color:        $gray-700 !default;

$modal-header-border-color:         $gray-700 !default;

// Progress bars

$progress-bg:                       $gray-700 !default;

// List group

$list-group-bg:                     $gray-800 !default;
$list-group-border-color:           $gray-700 !default;

$list-group-hover-bg:               $gray-700 !default;

// Breadcrumbs

$breadcrumb-bg:                     $gray-700 !default;

// Close

$close-color:                       $white !default;
$close-text-shadow:                 none !default;

// Code

$pre-color:                         inherit !default;

////////////////////////////////////////////////////////////////////////////////

@import "bootstrap-4.4.1/scss/bootstrap.scss";
@import "fontawesome-free-5.15.3-web/scss/fontawesome.scss";
@import "fontawesome-free-5.15.3-web/scss/solid.scss";
@import "fontawesome-free-5.15.3-web/scss/brands.scss";

////////////////////////////////////////////////////////////////////////////////

// Darkly 4.3.1
// Bootswatch


// Variables ===================================================================

// Navbar ======================================================================

// Buttons =====================================================================

// Typography ==================================================================

.blockquote {
  &-footer {
    color: $gray-600;
  }
}

// Tables ======================================================================

.table {

  &-primary {
    &, > th, > td {
      background-color: $primary;
    }
  }

  &-secondary {
    &, > th, > td {
      background-color: $secondary;
    }
  }

  &-light {
    &, > th, > td {
      background-color: $light;
    }
  }

  &-dark {
    &, > th, > td {
      background-color: $dark;
    }
  }

  &-success {
    &, > th, > td {
      background-color: $success;
    }
  }

  &-info {
    &, > th, > td {
      background-color: $info;
    }
  }

  &-danger {
    &, > th, > td {
      background-color: $danger;
    }
  }

  &-warning {
    &, > th, > td {
      background-color: $warning;
    }
  }

  &-active {
    &, > th, > td {
      background-color: $table-active-bg;
    }
  }

  &-hover {

    .table-primary:hover {
      &, > th, > td {
        background-color: darken($primary, 5%);
      }
    }

    .table-secondary:hover {
      &, > th, > td {
        background-color: darken($secondary, 5%);
      }
    }

    .table-light:hover {
      &, > th, > td {
        background-color: darken($light, 5%);
      }
    }

    .table-dark:hover {
      &, > th, > td {
        background-color: darken($dark, 5%);
      }
    }

    .table-success:hover {
      &, > th, > td {
        background-color: darken($success, 5%);
      }
    }

    .table-info:hover {
      &, > th, > td {
        background-color: darken($info, 5%);
      }
    }

    .table-danger:hover {
      &, > th, > td {
        background-color: darken($danger, 5%);
      }
    }

    .table-warning:hover {
      &, > th, > td {
        background-color: darken($warning, 5%);
      }
    }

    .table-active:hover {
      &, > th, > td {
        background-color: $table-active-bg;
      }
    }

  }
}

// Forms =======================================================================

.input-group-addon {
  color: #fff;
}

// Navs ========================================================================

.nav-tabs,
.nav-pills {

  .nav-link,
  .nav-link.active,
  .nav-link.active:focus,
  .nav-link.active:hover,
  .nav-item.open .nav-link,
  .nav-item.open .nav-link:focus,
  .nav-item.open .nav-link:hover {
    color: #fff;
  }
}

.breadcrumb a {
  color: #fff;
}

.pagination {
  a:hover {
    text-decoration: none;
  }
}

// Indicators ==================================================================

.close {
  opacity: 0.4;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.alert {
  border: none;
  color: $white;

  a,
  .alert-link {
    color: #fff;
    text-decoration: underline;
  }

  @each $color, $value in $theme-colors {
    &-#{$color} {
      @if $enable-gradients {
        background: $value linear-gradient(180deg, mix($white, $value, 15%), $value) repeat-x;
      } @else {
        background-color: $value;
      }
    }
  }
}

// Progress bars ===============================================================

// Containers ==================================================================


.list-group-item-action {
  color: #fff;

  &:hover,
  &:focus {
    background-color: $gray-700;
    color: #fff;
  }

  .list-group-item-heading {
    color: #fff;
  }
}

.btn-icon {
  padding-right: 0.5em;
}

.img-thumbnail {
  border-color: $gray-700;
  border-radius: 0.75rem;
}

.btn-secondary:hover {
  color: $gray-900;
}

.btn-secondary.focus {
  color: $gray-900;
}

.btn-green {
  @include button-variant(#8dc103, $gray-900, #8dc103, #8dc103);
  color: rgba(0, 0, 0, 0.9);
}

.btn-green:hover {
  color: rgba(0, 0, 0, 0.9);
}

.btn-green {
  background: linear-gradient(128deg, rgba(2,0,36,0) 0%, rgba(134, 186, 64, 0.4) 150%); 
  color: #86ba41;
  border: 1px #86ba41 solid;
}

.btn-green:hover {
  background-color: #5f7200;
  color: #091100;
  box-shadow: 0 0 25px 5px #a6c102 inset;
  border: 1px #93ac00 solid;
}

.nav-social {
  font-size: 1.25em;
  padding: 0.5em;
}

.navbar-background
{
  background-color: rgba(0, 0, 0, 0.6) !important;
  transition: background-color 200ms linear;
}

h1, h2, h3, h4, h5 {
  font-family: "Chakra Petch", "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
