{% set title_status_colors = {'Unknown' : '#2A2A2A', 'Broken' : '#D7263D', 'Intro' : '#F86624', 'Starts' : '#FF9800', 'Playable' : '#1B998B', 'Perfect' : '#4CAF50'} %}

{% extends "template_base.html" %}
{% block append_head %}
<style type="text/css">
/* https://www.gungorbudak.com/blog/2018/12/12/bootstrap-4-search-box-with-search-icon/ */
.has-search .form-control {
    padding-left: 2.375rem;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

{% for key in title_status_colors %}
.text-color-{{ key }} {
  color: {{ title_status_colors[key] }};
}
.fill-color-{{ key }} {
  background-color: {{ title_status_colors[key] }};
  color: #fff;
  font-weight: bold;
}
{% endfor %}

.title-card a {
  color: #fff;
  font-weight: bolder;
  text-decoration: none;
}
.title-card-container {
  width: 8rem;
  background-color: #373737;
}
.title-card-image-container {
  background-image:url('cover_front_default.png');
  background-size: 8rem 11rem;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 11rem;
}

.coming-soon-contents {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  opacity: 0.25;
}
.coming-soon-overlay {
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 15% 0;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

/* Account for the fixed header (which otherwise would occlude anchor targets) */
/* Via https://stackoverflow.com/a/28824157 */
:target::before {
  content: "";
  display: block;
  height: 60px; /* fixed header height*/
  margin: -60px 0 0; /* negative fixed header height */
}

.feature-icon {
  font-size: 0.7em;
  padding-right: 0.25em;
  vertical-align: 10%;
}

.button-icon {
  display: inline-block;
  margin-right: 1em;
}
</style>

{% endblock %}

{% block jumbotron %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
  <div class="row mt-5">
    <div class="col-md-6 mt-4 text-center">
    <img src="xbox_logo.png" class="img-fluid" width=450 />
    </div>
    <div class="col-md-6">
    <h1 class="display-3" style="font-family: 'Ubuntu Mono'; color: #42e335">xemu</h1>
    <h4 class="card-subtitle mb-2 text-muted">Original Xbox Emulator</h4>
    <p>
    A free and open-source application that emulates the original Microsoft
    Xbox game console, enabling people to play their original Xbox games on
    Windows, macOS, and Linux systems.
    </p>

    <div class="container">
      <div class="row">
        <div class="column text-center text-md-left p-2">
          <div class="btn-group">
            <button class="btn btn-outline-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Download
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="https://github.com/mborgerson/xemu/releases/latest/download/xemu-win-release.zip"><i class="fab fa-windows button-icon" aria-hidden="true"></i> Download for Windows</a>
              <a class="dropdown-item" href="https://github.com/mborgerson/xemu/releases/latest/download/xemu-macos-universal-release.zip"><i class="fab fa-apple button-icon" aria-hidden="true"></i> Download for macOS</a>
              <a class="dropdown-item" href="https://github.com/mborgerson/xemu/wiki#linux-ubuntu"><i class="fab fa-linux button-icon" aria-hidden="true"></i> Download for Linux</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="https://github.com/mborgerson/xemu/releases"><i class="fa fa-ellipsis-h button-icon" aria-hidden="true"></i>All Releases</a>
            </div>
          </div>
        </div>
        <div class="column p-2">
          <strong>Latest Release:</strong>
          v{{xemu_build_version}}<br/>
          {{xemu_build_date.strftime('%b %-d, %Y')}}
        </div>
      </div>
    </div>

    </div>
  </div>
  </div>
  <div class="scroll"></div>
</div>
{% endblock %}

{% block content %}
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/?list=PLec5KNGR_nILyzdbQ8OyFpceyrTRUBNNU&autoplay=1&mute=1&modestbranding=1&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<hr>

<h2 class="mb-4 text-center">Features</h2>
<div class="row">
  <div class="col-md-4">
    <h4><i class="fab fa-github feature-icon"></i> Open Source</h4>
    <p>The source code for xemu is publicly available. Users are invited to help improve the project!</p>
  </div>
  <div class="col-md-4">
    <h4><i class="fas fa-users feature-icon"></i> Cross Platform</h4>
    <p>xemu runs natively on Windows, macOS, and Linux platforms. Pre-compiled binaries are available for Windows, macOS, and Ubuntu.</p>
  </div>
  <div class="col-md-4">
    <h4><i class="fas fa-people-arrows feature-icon"></i> System Link</h4>
    <p>Networking is supported out of the box. Connect to other instances of xemu and even real Xboxes, locally or over the Internet.</p>
  </div>
  <div class="col-md-4">
    <h4><i class="fas fa-gamepad feature-icon"></i> Gamepad Support</h4>
    <p>Built on SDL2, xemu supports virtually all gamepads. Connect up to 4 controllers at any time, just like a real Xbox.</p>
  </div>
  <div class="col-md-4">
    <h4><i class="fas fa-download feature-icon"></i> Snapshots (Save States)</h4>
    <p>No need to wait for checkpoints. xemu supports saving the current state and loading it back up at any time.</p>
  </div>
  <div class="col-md-4">
    <div class="coming-soon-contents">
    <h4><i class="fas fa-expand-alt feature-icon"></i> Surface Scaling</h4>
    <p>Breathe new life into your old games by scaling up the resolution which the games render at.</p>
    </div>
    <div class="coming-soon-overlay">
    Coming Soon!
    </div>
  </div>
</div>

<hr>

<div class="" id="compatibility">
<h2 class="mb-4 text-center">Compatibility</h2>
</div>
<div id="title_stats" style="height: 120px"></div>
<div class="form-group has-search">
  <span class="fa fa-search form-control-feedback"></span>
  <input class="form-control" type="text" placeholder="Search" id="filter">
</div>
<div class="container mt-2">
  <div class="row" id="results">
  {% for title in titles %}
    <div class="col mb-4 title-card" data-title-name="{{ title.title_name }}" data-title-status="{{ title.status }}">
      <a href="{{ title.title_url }}">
        <div class="mx-auto title-card-container">
          <div class="title-card-image-container">
            {% if not title.have_cover %}
            <div class="card-body text-center">{{ title.title_name }}</div>
            {% else %}
            <img data-src="{{ title.cover_thumbnail_url }}" class="img-fluid lazy" title="{{ title.title_name }}">
            {% endif %}
          </div>
          <div class="fill-color-{{ title.status }} card-body text-center py-1 my-0">
            <small><strong>{{ title.status }}</strong></small>
          </div>
        </div>
      </a>
    </div> 
  {% endfor %}
  </div>
</div>
{% endblock %}

{% block append_foot %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.10/jquery.lazy.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.10/jquery.lazy.plugins.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script type="text/javascript">
// Lazy-load images
var lazyInstance = $('img.lazy').Lazy({
  scrollDirection: 'vertical',
  visibleOnly: true,
  chainable: false,
  effect: "fadeIn",
  effectTime: 333,
  onError: function(element) {
      console.log('error loading ' + element.data('src'));
  }
});

// https://stackoverflow.com/a/1909508
function delay(fn, ms) {
  let timer = 0
  return function(...args) {
    clearTimeout(timer)
    timer = setTimeout(fn.bind(this, ...args), ms || 0)
  }
}

var filter_title_str = null;
var filter_status_str = null;
var hidden_status_list = [];

// Simple filter via: https://stackoverflow.com/a/44736154
$("#filter").keyup(delay(function() {
  filter_title_str = $(this).val();
  filter_titles();
}, 250));

function toggle_single_status_filter(status)
{
  filter_status_str = filter_status_str === status ? null : status;
  filter_titles();
}

function toggle_hidden_status_filter(status)
{
  if (hidden_status_list.includes(status)) {
    // User has toggled a status that's already hidden, remove status from hidden filter list
    hidden_status_list = hidden_status_list.filter(function(hidden_status) {
      return hidden_status !== status;
    });
  } else {
    hidden_status_list.push(status);
  }
  filter_titles();
}

function filter_titles()
{
  $('.title-card').each(function() {
    // Only show titles that match this critera:
    // Status of title matches the filtered status if it's been set
    // Status of title hasn't been excluded in the hidden status list
    // Title name matches the user input
    if ((filter_status_str != null && $(this).attr('data-title-status') !== filter_status_str) ||
        (hidden_status_list.includes($(this).attr('data-title-status'))) ||
        (filter_title_str != null && $(this).attr('data-title-name').search(new RegExp(filter_title_str, "i")) < 0 )) {
      $(this).hide();
    } else {
      $(this).show();
    }
  });
  lazyInstance.update();
}

var options = {
  series: [
    {% for status in game_status_counts: %}
    {
      name: '{{ status }}',
      data: [
        {{ game_status_counts[status] }},
      ]
    },
    {% endfor %}
  ],
  chart: {
    foreColor: '#a7a7a7', // text color
    background: '#444',
    type: 'bar',
    height: 100,
    stacked: true,
    stackType: '100%',
    toolbar: {
      show: false
    },
    events : {
      legendClick : function statustoggleclick(chartContext, seriesIndex, config) {
          let status = config.globals.seriesNames[seriesIndex];
          toggle_hidden_status_filter(status);
        },
      dataPointSelection : function statusclick(event) {
          let status = event.currentTarget.parentNode.getAttribute("seriesName");
          toggle_single_status_filter(status);
        }
    }
  },
  plotOptions: {
    bar: {
      horizontal: true,
    },
  },
  stroke: {
    show: false,
    width: 0,
    colors: ['#999']
  },
  grid: {
    show: false
  },
  xaxis: {
    categories: [
      'Titles'
      ],
    labels: {
      show: false
    },
    axisBorder: {
      show: false,
      color: '#ffff00'
    },
    axisTicks: {
      show: false,
    }
  },
  yaxis: {
    labels: {
      show: true,
      maxWidth: 0
    },
    axisBorder: {
      show: false,
      color: '#ff00ff'
    },
    axisTicks: {
      show: false,
    }
  },
  tooltip: {
    y: {
      formatter: function (val) {
        return val
      }
    }
  },
  colors: [
  {% for key in title_status_colors %}
    '{{ title_status_colors[key] }}',
  {% endfor %}
  ],
  legend: {
    position: 'top',
    horizontalAlign: 'center',
    offsetY: 20
  }
  };
var chart = new ApexCharts(document.querySelector("#title_stats"), options);
chart.render();
</script>
{% endblock %}
