{% extends "template_base.html" %}
{% block title %}{{ title.title_name }} Compatibility{% endblock %}
{% block content %}
<!-- Game Identification -->
<div class="py-2 pt-5">
  <h2>{{ title.title_name }}</h2>
  <h6 class="card-subtitle mb-2 text-muted">
    <strong>{{ title.full_title_id_text }}</strong>
    <span class="align-text-top " style="font-family: monospace;">[{{ title.full_title_id_hex }}]</span>
  </h6>
</div>

<div class="row">
  <!-- Game Cover -->
  <div class="col-md-4 text-center">
    <figure class="figure">
      <img src="{{ title.cover_url }}" class="img-thumbnail img-fluid" width=350 />
    </figure>
  </div>

  <!-- Compatibility Details -->
  <div class="col-md-8">
    <ul class="list-group mb-3">

      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div class="list-group w-100">
          <div class="d-flex w-100 justify-content-between">
            <h6 class="">Status</h6>
            <span class="text-color-{{ title.status }}"><strong>{{ title.status }}</strong></span>
          </div>
          <p class="text-muted mb-1"><small>{{ title_status_descriptions[title.status] }}</small></p>
        </div>
      </li>

      {% if title.most_recent_test %}
      <li class="list-group-item d-flex justify-content-between">
        <div>
          <span>Last Tested</span>
        </div>
        <div class="list-group text-right">
          <a class="btn btn-outline-secondary btn-sm" href="#" role="button">{{ title.most_recent_test.build }}</a>
          <span><small>{{ title.most_recent_test.date }}</small></span>
        </div>
      </li>
      {% endif %}
      {% if 'external_links' in title.title_report %}
      <li class="list-group-item d-flex justify-content-between">
        <div>
          <span>External Sites</span>
        </div>
        <div class="list-group text-right">
          <div>
          {% for name in title.title_report['external_links'] %}
            <a class="btn btn-outline-secondary btn-sm" href="{{ title.title_report['external_links'][name] }}" role="button">{{ name }}</a>
          {% endfor %}
          </div>
        </div>
      </li>
      {% endif %}
    </ul>

    {% if False %}
    <!-- YouTube Embed -->
    <div class="py-2">
      <h4>Video Playlist</h4>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/qlU0dgmj46Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    {% endif %}

    <!-- Known Issues -->
    <div class="py-2">
      <h4>Known Issues</h4>
    </div>
    <div class="list-group">
      {% if False %}
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small>3 days ago</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small>Donec id elit non mi porta.</small>
      </a>
      {% else %}
      <div class="list-group-item text-center text-muted text-small">
        No issues have been reported for this title.
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
