{% extends "template_base.html" %}
{% block title %}User Token{% endblock %}
{% block content %}

<div class="py-2 pt-5">
  <h4>Request User Token</h4>
</div>
{% if token %}
<div class="py-2 pt-5">
  <h4>Thanks!</h4>
</div>
<div class="list-group">
  <p>Paste this token into the compatibility report window in xemu to submit it with your feedback reports.</p>
  <div class="list-group-item text-center text-muted text-small">
    <code>{{ token }}</code>
  </div>
</div>
{% else %}
<div class="list-group">
  <p>
  User tokens are an easy way to establish your identity. If you would like to
  expedite your compatibility reports and get credit for testing, please file
  with a user token!
  </p>
  <p>  
  The xemu community operates on Discord. By authenticating with Discord, you
  can help verify your identity. Only your Discord username, Discord user id number,
  and the IP address which you connect from are collected; no other private information
  is stored.
  </p>
  <p><center>
  <a class="btn btn-outline-secondary btn-lg" href="{{ authorize_url }}" role="button">
  <i class="fab fa-discord btn-icon"></i>Verify with Discord</a>
  </center></p>
</div>
{% endif %}

{% endblock %}
