{% set description = "A free and open-source application that emulates the original Microsoft Xbox game console, enabling people to play their original Xbox games on Windows, macOS, and Linux systems." %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{% if self.title() %}{{ self.title() }} | {% endif %}xemu: Original Xbox Emulator">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ main_url_base }}/docs/assets/images/social_banner.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="640">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@xemu_project">
    <meta name="twitter:creator" content="@xemu_project">
    <meta name="twitter:title" content="{% if self.title() %}{{ self.title() }} | {% endif %}xemu: Original Xbox Emulator">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ main_url_base }}/docs/assets/images/social_banner.png">
    <link rel="favicon" type="image/ico" href="{{ main_url_base }}/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ main_url_base }}/xemu_180x180.png">
    <link rel="icon" sizes="192x192" href="{{ main_url_base }}/xemu_192x192.png">
    <link rel="stylesheet" href="{{ main_url_base }}/theme.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Roboto&display=swap" rel="stylesheet">

    <title>{%block title %}{% endblock %}{% if self.title() %} | {% endif %}xemu: Original Xbox Emulator</title>
    {% block append_head %}{% endblock %}

    <script src="/jquery-3.4.1.min.js"></script>
    <script src="/popper-1.14.7.min.js"></script>
    <script src="/bootstrap-4.3.1.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163809672-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-163809672-1');
    </script>
  </head>
  <body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark navbar-background navbar-transparent">
  <a class="navbar-brand" href="{{ main_url_base }}/"><img alt="xemu logo" src="/logo-green.svg" style="height: 1em"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ main_url_base }}/docs/download">Download</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ main_url_base }}/#compatibility">Compatibility</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ main_url_base }}/docs">Documentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ main_url_base }}/docs/faq">FAQs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/xemu-project/xemu">GitHub</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.patreon.com/mborgerson">Patreon</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <span class="nav-link">
        <a class="nav-social" href="https://discord.gg/ayyjsuM"><i class="fab fa-discord" aria-hidden="true" title="Join the xemu community on Discord"></i></a>
        <a class="nav-social" href="https://twitter.com/xemu_project"><i class="fab fa-twitter" aria-hidden="true" title="Follow @xemu_project on Twitter"></i></a>
        <a class="nav-social" href="https://www.youtube.com/c/xemuOriginalXboxEmulator"><i class="fab fa-youtube" aria-hidden="true" title="Check out the xemu YouTube channel"></i></a>
        </span>
      </li>
    </ul>
  </div>
</nav>

<main role="main">
{% block jumbotron %}{% endblock %}
<div class="container">
  <div class="col-lg-10 mx-auto mt-5">
    {% block content %}{% endblock %}
    <footer class="my-5 text-muted text-center text-small">
      <p><strong>Disclaimer:</strong>
      All product names, logos, and brands are property of their respective owners. All company, product and service names and/or images used in this website are for identification purposes only.
      </p>
      <p>&copy; 2020-2023 xemu Project</p>
    </footer>
  </div>
</div>
</main>

{% block append_foot %}{% endblock %}
</body>
</html>
