site_name: "xemu: Original Xbox Emulator"
site_url: https://xemu.app/docs/
site_author: Matt Borgerson
site_description: >-
  A free and open-source application that emulates the original Microsoft
  Xbox game console, enabling people to play their original Xbox games on
  Windows, macOS, and Linux systems.
copyright: Copyright &copy; 2020 - 2025 xemu Project
repo_url: https://github.com/xemu-project/xemu
edit_uri: https://github.com/xemu-project/xemu-website/edit/master/docs/docs/

extra_css:
  - stylesheets/extra.css
theme:
  name: material
  custom_dir: overrides
  features:
    - navigation.sections
    - navigation.instant
    - content.action.edit
  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true
  logo:
  favicon: https://github.com/xemu-project/xemu-website/raw/master/resources/xemu_192x192.png

extra:
  homepage: https://xemu.app
  social:
  - icon: fontawesome/brands/github
    link: https://github.com/xemu-project/xemu
  - icon: fontawesome/brands/twitter
    link: https://twitter.com/xemu_project
  - icon: fontawesome/brands/patreon
    link: https://www.patreon.com/mborgerson
  - icon: fontawesome/brands/discord
    link: https://discord.gg/ayyjsuM
  - icon: fontawesome/brands/youtube
    link: https://www.youtube.com/channel/UCrT8NawDTt5gJnMMe9uUg-Q/featured

markdown_extensions:
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

nav:
  - Home: https://xemu.app
  - Compatibility: https://xemu.app/#compatibility
  - Documentation: https://xemu.app/docs/
  - GitHub: https://github.com/xemu-project/xemu
  - Patreon: https://www.patreon.com/mborgerson
  - About: about.md
  - FAQ: faq.md
  - Setup:
    - Download: download.md
    - Required Files: required-files.md
    - Disc Images: disc-images.md
    - Input Devices: input.md
    - Networking: networking.md
    - Dashboard: dashboard.md
    - Troubleshooting: troubleshooting.md
  - Reference:
    - Command Line Arguments: cli.md
    - HDD Access via FTP: ftp.md
    - Snapshots (Save States): snapshots.md
  - Advanced Topics:
    - EEPROM Settings: eeprom.md
    - Serial Port: serial-port.md
    - Memory Units (Cards): xmus.md
    - Xbox Live Communicator: xblc.md
    - Development:
      - Welcome: dev/index.md
      - Building from Source: dev/building-from-source.md
      - Debugging:
        - Overview: dev/debug/index.md
        - Host Debugging: dev/debug/host.md
        - Guest Debugging: dev/debug/guest.md
        - Graphics Debugging: dev/debug/graphics.md
    - Testing: testing.md

plugins:
  - search
  - redirects:
      redirect_maps:
        index.md: download.md
        getting-started.md: required-files.md
  - minify:
      minify_html: true
