on:
  workflow_dispatch:
  push:
  pull_request:
  schedule:
  - cron: '0 * */1 * *'

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        submodules: true
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install cssmin
    - name: Set up Python, uv
      uses: astral-sh/setup-uv@c7f87aa956e4c323abf06d5dec078e358f6b4d04 # v5
      with:
        python-version: "3.12"
    - name: Build
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        DEV: ${{ github.ref == 'refs/heads/master' && '0' || '1' }}
      run: |
        uv pip install -r requirements.txt
        ./build.sh
        cssmin > dist/theme.css.min < dist/theme.css
        mv dist/theme.css.min dist/theme.css
        echo "xemu.app" > dist/CNAME
    - uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa # v3.0.1
      with:
        path: dist
  Deploy:
    if: github.ref == 'refs/heads/master'
    needs: [Build]
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
